/* AboutUs.css */
.about-us {
    padding: 10px 0;
}

.section-title {
    margin-left: -20px;
    margin-bottom: 30px;
}

.section-description {
margin-left: -500px;}

.about-image {
    margin-top: 20px;
    margin-left: -100px;
}
.justify-content-center{
margin-left: -50px;
}